{
    "address": "localhost:8080",
    "restore": true,
    "store_interval": "300s",
    "store_file": "/tmp/metrics-db.json",
    "database_dsn": "",
    "crypto_key": "/path/to/private.pem",
    "trusted_subnet": "",
    "grpc_address": "localhost:8081"
}

